{% extends "wiki/layout.html" %}

{% block title %}
    <title>{{ topic }}</title>
{% endblock %}

{% block body %}
    <div class="nav">
        <form class="nav-search-form">
            <input type="text" class="nav-search-form-input" name="q">
            <button class="nav-search-form-btn">search</button>
        </form>
    </div>
    <div class="main">
        <h2>{{ topic }}</h2>
        info-info-info-info-info-info-info-info-info-info-
        info-info-info-info-info-info-info-info-info-info-
        info-info-info-info-info-info-info-info-info-info-
        info-info-info-info-info-info-info-info-info-info-
        info-info-info-info-info-info-info-info-info-info-
        info-info-info-info-info-info-info-info-info-info-
        info-info-info-info-info
    </div>
{% endblock %}