{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'wiki/styles.css' %}">
    <title>Search</title>
</head>
<body>
    <div class="container">
        <h1 class="search-header">Search</h1>
        <form action="{% url 'wiki:index' %}" method="post" class="search-form">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="search-form-btn">search</button>
        </form>
    </div>
</body>
</html>